<% layout('/layouts/boilerplate.ejs') -%>
<body>
  <div class="row mt-2">
    <div class="col-8 offset-2">
      <h1>Create New Listings</h1>
      <form
        method="POST"
        action="/Listings"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-lable">Title</label>
          <input
            name="listing[title]"
            type="text"
            placeholder="Add a catchy title"
            class="form-control"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-lable">Description</label>
          <textarea
            name="listing[description]"
            type="text"
            placeholder="Enter description"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Please Enter a Short description.</div>
        </div>
        <div class="mb-3">
          <label for="image">Uploud Listing Image</label>
          <input
            name="listing[image]"
            type="file"
            placeholder="Enter image URL/Link"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please Enter correct URL.</div>
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-lable">Price</label>
            <input
              name="listing[price]"
              type="number"
              placeholder="100000"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please Enter price .</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-lable">Country</label>
            <input
              name="listing[country]"
              type="text"
              placeholder="Pakistan"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please Enter country name.</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-lable">Location</label>
          <input
            name="listing[location]"
            type="text"
            placeholder="Karachi, Liaquatabad"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please Enter location.</div>
        </div>

        <button type="submit" class="btn btn-dark add-btn mt-2">Add</button>
      </form>
    </div>
  </div>
</body>
